.bg-footer {
  background-color: var(--gray-calendar);
}

#footer a,
#footer-bottom a {
  font-size: 10pt;
  color: var(--black-color);
  padding: -top 20px;
  padding-bottom: 20px;
}

#footer-bottom div span:first-child > a,
#footer-bottom div span:nth-child(2) > a {
  text-decoration: underline;
}

#footer a:hover,
#footer-bottom a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #footer a {
    width: 80vw;
  }
}

#footer hr.hr-style {
  border: 1px solid var(--light-gray);
  width: 95vw;
  display: flex;
  justify-content: center;
}

#footer i,
#footer-bottom i {
  color: var(--black-color);
}

#footer-bottom .bi-twitter::before,
#footer-bottom .bi-instagram::before {
  padding-left: 20px;
}
