.bg-footer {
  background-color: var(--gray-calendar);
}

#footer a {
  font-size: 10pt;
  color: var(--black-color);
  padding: -top 20px;
  padding-bottom: 20px;
}

#footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #footer a {
    width: 80vw;
  }
}
