.dropdown-toggle::after {
  content: none;
}

#search button div p:first-child {
  color: var(--black-color);
  font-size: 10pt;
  font-weight: bold;
}

#search button div p:last-child {
  color: var(--gray-color);
  font-size: 12pt;
}

#search button:hover {
  cursor: pointer;
  border: transparent;
  border-radius: 32px;
  background-color: var(--light-gray);
}

#search button:active {
  -webkit-box-shadow: 0px 0px 27px 5px #8c8c8c;
  box-shadow: 0px 0px 27px 5px #8c8c8c;
  outline: 0.5px solid #8c8c8c;
  -moz-outline-radius: 0.5px;
  background-color: var(--white-color);
}

#search button:active:after {
  -webkit-box-shadow: 0px 0px 27px 5px #8c8c8c;
  box-shadow: 0px 0px 27px 5px #8c8c8c;
  outline: 0.5px solid #8c8c8c;
  -moz-outline-radius: 0.5px;
  background-color: var(--white-color);
}

.red-search {
  background-color: var(--main-color);
  padding: 16px;
}

.vl {
  border-left: 0.5px solid var(--light-gray);
  margin-top: 10px;
  height: 50px;
}

#search-i:hover {
  background: radial-gradient(
    circle,
    rgba(229, 29, 80, 1) 0%,
    rgba(218, 9, 101, 1) 100%,
    rgba(215, 5, 102, 1) 100%
  );
}

#flexible-menu {
  width: 550px;
  font-size: 10pt;
}

#flexible-btn {
  width: 500px;
  -webkit-box-shadow: 0px 0px 26px 1px rgba(173, 173, 173, 0.55);
  box-shadow: 0px 0px 26px 1px rgba(173, 173, 173, 0.55);
  background-color: var(--white-color);
}

#flexible-btn,
#flexible-btn > i {
  color: var(--purple-color);
  font-weight: bold;
  font-size: 15pt;
}

#search #flexible-btn:hover {
  -webkit-box-shadow: 0px 5px 28px 1px rgba(173, 173, 173, 0.64);
  box-shadow: 0px 5px 28px 1px rgba(173, 173, 173, 0.64);
  background-color: var(--white-color);
}

#guests-menu {
  width: 500px;
}

#guests-menu div div p:first-of-type {
  font-weight: bold;
}

#guests-menu .rounded-button {
  border: none;
  color: var(--white-color);
  background-color: var(--light-gray);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#link-animal {
  color: var(--black-color);
  text-decoration: underline;
}
