@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.bg-img {
  background: url("../../public/images/main-photo.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.mainLoginInput {
  height: 40px;
  padding: 0px;
  font-size: 20px;
  margin: 5px 0;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  color: var(--main-color);
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  color: var(--main-color);
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  color: var(--main-color);
}

#bottom-nav {
  color: var(--black-color);
  font-size: 11px;
}

#bottom-nav i {
  font-size: 20px;
}

#bottom-nav-search {
  color: var(--main-color);
}

#bottom-nav-search + p {
  color: var(--black-color);
  font-weight: bold;
}
