@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --black-color: black;
  --light-black: #262626;
  --white-color: white;
  --main-color: #ff385c;
  --button-color: #dddddd;
  --gray-color: #717171;
  --light-gray: #ebebeb;
  --gray-calendar: #f7f7f7;
  --purple-color: #7e0197;
  --main-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--main-font);
}

.bg-black {
  background-color: var(--black-color);
}

.rounded-border {
  border: 1px solid transparent;
  border-radius: 21px;
}

.rounded-border-32 {
  border: transparent;
  border-radius: 32px;
}

.bg-button {
  background-color: var(--white-color);
}

.disabled {
  color: var(--gray-color);
}

.rounded-button-100 {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
