#shop-now {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -630px;
}

#shop-now img {
  width: 421.5px;
}

.bg-shop {
  max-width: 1225px;
}

#shop-now button {
  border-radius: 8px;
}

#shop-now button:hover {
  background-color: var(--black-color);
}
