.small-card {
  max-width: 338px;
  height: 356px;
  border: none;
}

.card-body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.border-radius-15 {
  border-radius: 15px;
}

.img-small-card {
  object-fit: cover;
  object-position: center center;
  vertical-align: bottom;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.card-title,
.card-text {
  color: var(--white-color);
}
